
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	scrollbar-color: #b153f0 #1f2041;
	background-color: #1f2041;
}


/* 
/-----------------------------\
    NAV BAR START
\-----------------------------/
*/

.nav {
	position: sticky;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: #1f2041;
}

.nav__logo {
	width: 100px;
}

.nav__list {
	list-style: none;
	display: flex;
	position: relative;
}

.nav__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__link {
	display: block;
	padding: 0.5rem;
	font-size: calc(0.5rem + 1vw);
	color: #ffc857;
	text-decoration: none;
	font-family: "Exo", sans-serif;
	text-transform: uppercase;
}


.cartWidget {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0.3rem;
}


@media screen and (min-width: 768px) {
	.nav {
		flex-direction: row;
		height: 10vh;
	}

	.cartWidget {
		padding: 0.7rem;
	}
}







.loading--left {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	animation: left 1.5s infinite;
}







@keyframes top {
	0% {
		transform: translateX(-50%);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -100%);
	}
}

@keyframes right {
	0% {
		transform: translateY(-50%);
	}
	100% {
		opacity: 0;
		transform: translate(100%, -50%);
	}
}

@keyframes down {
	0% {
		transform: translateX(-50%);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, 100%);
	}
}





.header--half {
	height: 50vh;
}

/* 
/-----------------------------\
      HEADER END
\-----------------------------/
*/

/* 
/----------------------------------\
     BASICS STYLES START
\----------------------------------/
*/
a {
	text-decoration: none;
}

p,
span,
label,
input,
li {
	color: #ebeeee;
	font-size: calc(0.8rem + 0.5vw);
	font-family: "Baloo Bhaijaan 2", cursive;
}

.btn {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid #b153f0;
	border-radius: 0.5rem;
	padding: 0.5rem;
	color: #b153f0;
	font-weight: 900;
	font-size: calc(0.8rem + 0.5vw);
	background-color: transparent;
	transition: all 0.4s;
	cursor: pointer;
	text-shadow: 0 0 5px #b153f0;
	box-shadow: 0 0 10px #b153f0, inset 0 0 10px #b153f0;
}

.btn:disabled {
	text-shadow: 0 0 5px #281e4d;
	box-shadow: 0 0 10px #281e4d, inset 0 0 10px #281e4d;
}

.btn:hover {
	text-shadow: 0 0 5px #b153f0, 0 0 10px #b153f0;
	box-shadow: 0 0 10px #b153f0, inset 0 0 10px #b153f0, 0 0 20px #b153f0,
		inset 0 0 15px #b153f0;
}

.btn:disabled:hover {
	cursor: not-allowed;
	text-shadow: none;
	box-shadow: none;
}

.btn--center {
	display: block;
	margin: auto;
}

.btn--small {
	width: 30px;
	height: 40px;
}

@media screen and (min-width: 768px) {
	.btn--small {
		width: 50px;
		height: 40px;
	}
}

.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
}

.remove {
	font-size: calc(0.8rem + 0.5vw);
	background-color: transparent;
	border: none;
	color: #b153f0;
	cursor: pointer;
}





.borde {
	border-radius: calc(1rem + 1vw);
	border: 4px solid #281e4d;
	transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.borde:hover {
	border: 4px solid #b153f0;
	box-shadow: 0 0 5px #b153f0, 0 0 10px #b153f0, 0 0 30px #b153f0;
}

.borde--violeta {
	border: 4px solid #b153f0;
	box-shadow: 0 0 5px #b153f0, 0 0 10px #b153f0, 0 0 30px #b153f0,
		inset 0 0 20px #b153f0;
}



.detail {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 500px;
	margin: auto;
}

.detail-list-container {
	width: 100%;
}

.detail ul {
	list-style: none;
}

.detail img {
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}

.detail__button-container {
	text-align: center;
}

.detail-counter {
	width: 100%;
}



.producto.borde {
	overflow: hidden;
}

.producto__contenedor {
	width: 100%;
	height: 100%;
	border: transparent;
}

.producto__header {
	width: 100%;
	height: 50%;
}

.producto__image {
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.producto__cuerpo {
	height: 50%;
}

.producto__cuerpo h3 {
	color: #ebeeee;
	text-align: center;
	padding: 0.5rem;
	font-size: calc(1rem + 0.5vw);
	height: 40%;
	overflow-y: auto;
}

.producto__cuerpo p {
	color: #ebeeee;
	text-align: center;
	padding: 0.5rem;
	font-size: calc(1rem + 0.5vw);
}

.cartel-agregado {
	width: 300px;
	position: fixed;
	z-index: 200;
	transform: translateY(200%);
	bottom: 1rem;
	right: 1rem;
	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.4s;
}

.cartel-agregado p {
	color: #ebeeee;
	text-align: center;
	font-size: calc(1rem + 0.5vw);
}

.mostrar {
	transform: translateY(0%);
}


/* 
==============================

          CARRITO 

==============================
*/

.carrito {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.carrito__empty {
	text-align: center;
	min-height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* CARRITO VACÍO */

.carrito__empty p {
	color: #ffc857;
	text-shadow: 0 0 30px #ffc857;
	font-size: calc(1rem + 3vw);
	font-family: "Baloo Bhaijaan 2", cursive;
	text-align: center;
	text-transform: uppercase;
}



@media screen and (min-width: 768px) {
	.carrito__empty p {
		color: #ffc857;
		text-shadow: 0 0 30px #ffc857;
		font-size: calc(0.5rem + 3vw);
		font-family: "Baloo Bhaijaan 2", cursive;
		text-align: center;
		text-transform: uppercase;
	}

}

 
